[submodule "GTE/Samples/CSharpCppManaged/CppLibrary/WPL"]
	path = GTE/Samples/CSharpCppManaged/CppLibrary/WPL
	url = https://github.com/Junlin-Yin/WashingPtLayout.git
[submodule "GTE/Samples/CSharpCppManaged/CppLibrary/tudelft3d/prepair"]
	path = GTE/Samples/CSharpCppManaged/CppLibrary/tudelft3d/prepair
	url = https://github.com/tudelft3d/prepair.git
[submodule "GTE/Samples/CSharpCppManaged/CppLibrary/tudelft3d/pprepair"]
	path = GTE/Samples/CSharpCppManaged/CppLibrary/tudelft3d/pprepair
	url = https://github.com/tudelft3d/pprepair.git
